// Font Family
$main-font: 'Satoshi';
$sub-font: 'ClashDisplay';
$magnita: 'Magnita';
$bootstrapFont: 'bootstrap-icons';

// Color Settings
$text-color: rgba(0,0,0,0.7);
$text-dark: #000;
$heading: #19352D;
$color-one: #CFFF45;
$color-two: #29594B;
$color-three:#0C3A30;
$color-four: #E6FD5A;
$color-five: #0E3E2F;
$color-six: #DFFF5E;
$color-seven: #044F3B;
$color-eight: #1F5E59;
$color-nine: #D0FF45;
$light-bg-one: #EBF3EE;
$light-bg-two: #EDF1EE;
$cyan: #DCEFF0;
